/* Body Styles */
a {
    text-decoration: none;
}

/* Hero Styles */

.hero-bg {
    background-image: url("./assets/hero-bg.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 70vh;
}

.text-custom-pink {
    color: #F97EEC;
}


/* Features Styles* */
.text-custom-green {
   background-color: #61D26D;
   border-color: #61D26D;
}

/*Social Proof Styles */

.custom-gray-bg {
    background-color: #f9f9f9;
}